<h1>OAuth2...</h1>

<p class="">Base URL: <%= @patient_server.base %></p>
<p class="">Bearer Token: <%= ENV.fetch('BEARER_TOKEN', 'No Token') %></p>
<p class="">Client Id: <%= ENV.fetch('CLIENT_ID', 'No Client Id') %></p>
<p class="">Client Secret: <%= ENV.fetch('CLIENT_SECRET', 'No Secret') %></p>

<h3>UDAP metadata</h3>
<code class="json" style="width:max-content;">
    <%= @udap_metadata.to_json %>
</code>


<%= link_to "Sign In via OAuth2", oauth2_restart_url, class: "btn btn-primary" %>
<%= link_to "Register for OAuth2", oauth2_register_url, class: "btn btn-primary", data: {turbo_method: :post} %>
