<div id="<%= dom_id identity_matching_request %>">
  <p>
    <strong>Full name:</strong>
    <%= identity_matching_request.full_name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= identity_matching_request.date_of_birth %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= identity_matching_request.address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= identity_matching_request.email %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= identity_matching_request.mobile %>
  </p>

  <% if identity_matching_request.response_status %>
    <p>
      <strong>Response status:</strong>
      <%= identity_matching_request.response_status %>
    </p>

    <p>
      <strong>Response json:</strong>
      <code><%= identity_matching_request.response_json %></code>
    </p>
  <% else %>
    <p><strong>Not yet sent to server.</strong></p>
  <% end %>

</div>
