<div id="<%= dom_id identity_matching_request %>">
  <p>
    <strong>Full name:</strong>
    <%= identity_matching_request.full_name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= identity_matching_request.date_of_birth %>
  </p>

  <p>
    <strong>Address line1:</strong>
    <%= identity_matching_request.address_line1 %>
  </p>

  <p>
    <strong>Address line2:</strong>
    <%= identity_matching_request.address_line2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= identity_matching_request.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= identity_matching_request.state %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= identity_matching_request.zipcode %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= identity_matching_request.email %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= identity_matching_request.mobile %>
  </p>

  <p>
    <strong>Response status:</strong>
    <%= identity_matching_request.response_status %>
  </p>

  <p>
    <strong>Response json:</strong>
    <%= identity_matching_request.response_json %>
  </p>

</div>
