<h1 class="w-100 text-center">Patient Identity Matches</h1>

<div class="row justify-content-between my-3">
  <div class="col-md-4 col-6 text-center">
	<%= link_to "Change Server", root_path, class: "btn btn-secondary" %>
  </div>
  <div class="col-md-4 col-6 text-center">
	<%= link_to "New identity matching request", new_identity_matching_request_path, class: "btn btn-primary" %>
  </div>
</div>


<div class="row row-cols-md-3 g-2 align-items-around" id="identity_matching_requests">
  <% @identity_matching_requests.each do |identity_matching_request| %>
	<div class="col">
      <%= render identity_matching_request do %>
        <div class="text-end">
          <%= link_to "Edit", edit_identity_matching_request_path(identity_matching_request) %> |
          <%= link_to "Show More", identity_matching_request %>
        </div>
      <% end %>
	</div>
  <% end %>
</div>

