<div class="row mt-2 justify-content-between">
  <div class="col">
    <%= link_to "Edit and Re-Match", edit_identity_matching_request_path(@identity_matching_request) %> |
    <%= link_to "All Identity Matches", identity_matching_requests_path %>
  </div>
  <div class="col text-end">
    <%= link_to "Delete", @identity_matching_request, data: {turbo_method: :delete}, class: "btn btn-sm btn-dark d-inline" %>
  </div>
</div>

<hr />

<div class="row my-2 justify-content-center">
  <%= render @identity_matching_request do end %>
</div>

<h3>FHIR Request</h3>
<code class="fhir"><%= @identity_matching_request.to_fhir.to_json %></code>
<hr />

<h3>FHIR Response</h3>
<% if @identity_matching_request.response_json %>
  <code class="fhir"><%= @identity_matching_request.response_json.to_json %></code>
<% elsif @identity_matching_request.errors.any? %>
  <%= render "errors", identity_matching_request: @identity_matching_request %>
<% else %>
  <h6>No valid response obtained from server</h6>
<% end %>

<script>
function formatFhir() {
  const elements = document.querySelectorAll('.fhir');
  console.log('prettifying fhir for', elements.length, 'elements.')
  Array.from(elements).forEach((element) => {prettifyJson(element)});
}

document.addEventListener("load", formatFhir);
document.addEventListener("turbo:load", formatFhir);
document.addEventListener("ready turbo:load", formatFhir);
</script>
