<%= form_with(model: identity_matching) do |form| %>

  <% if identity_matching.errors.any? %>
	<%= render "errors", identity_matching: identity_matching %>
  <% end %>

  <div class="container">
	<div class="row mb-2">
	  <div class="col">
	    <%= form.text_field :full_name, class: "form-control", placeholder: "Full Name" %>
	  </div>

	  <div class="col">
	    <%= form.text_field :gender, class: "form-control", placeholder: "Gender" %>
	  </div>

	  <div class="col">
		<div class="container-fluid">
		  <div class="row">
			<div class="col-md-3 col-4 text-center align-middle">
			  <b class="align-middle">Date of Birth:</b>
			</div>
			<div class="col-md-9 col-8">
		      <%= form.date_field :date_of_birth, class: "form-control", aria_label: "date_of_birth", aria_describedby: "date_of_birth_label" %>
			</div>
		  </div>
		</div>
	  </div>
	</div>

	<hr />

	<div class="row mb-2">
	  <strong><%= form.label "Address", class: "form-label" %></strong>
	</div>

	<div class="row mb-2">
	  <div class="col">
	    <%= form.text_field :address_line1, class: "form-control", placeholder: "Address Line 1" %>
	  </div>

	  <div class="col">
	    <%= form.text_field :address_line2, class: "form-control", placeholder: "Address Line 2" %>
	  </div>
	</div>

	<div class="row mb-2">
	  <div class="col">
		<%= form.text_field :city, class: "form-control", placeholder: "City" %>
	  </div>

	  <div class="col">
	    <%= form.text_field :state, class: "form-control", placeholder: "State" %>
	  </div>

	  <div class="col">
	    <%= form.text_field :zipcode, class: "form-control", placeholder: "Zipcode" %>
	  </div>
    </div>

	<hr />

	<div class="row mb-2">
	  <div class="col">
		<%= form.email_field :email, class: "form-control", placeholder: "Email" %>
	  </div>

	  <div class="col">
	    <%= form.telephone_field :mobile, class: "form-control", placeholder: "Phone Number" %>
	  </div>
	</div>

    <hr />

	<div class="row mb-2">
	  <div class="col">
		<strong>Identifiers</strong>
	  </div>
	</div>

	<div class="row mb-2">
	  <div class="col-6">
		<%= form.text_field :drivers_license, class: "form-control", placeholder: "Driver's License" %>
	  </div>
	  <div class="col-6">
		<%= form.text_field :national_insurance_payer_identifier, class: "form-control", placeholder: "National Insurance Payer Identifier" %>
	  </div>
	</div>

	<hr />

	<div class="row mb-2 justify-content-center">
	  <% if identity_matching.persisted? %>
	    <%= form.submit "Re-Match Identity", class: "btn btn-primary" %>	    
	  <% else %>
	    <%= form.submit "Match Identity", class: "btn btn-primary" %>
	  <% end %>
	</div>

  </div>
<% end %>
