<div id="<%= dom_id identity_matching %>" class="card shadow" style="width:24rem;">

  <div class="card-body">
	<h5 class="card-title"><%= identity_matching.full_name %></h5>
	<h6 class="card-subtitle text-muted mb-2">
	  Match attempted <%= identity_matching.updated_at.strftime('%r %x') %>
	</h6>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <strong>Date of birth:</strong>
      <%= identity_matching.date_of_birth %>
    </li>

    <li class="list-group-item">
      <strong>Gender:</strong>
      <%= identity_matching.gender&.downcase %>
    </li>

    <li class="list-group-item">
      <strong>Address:</strong>
      <%= identity_matching.address %>
    </li>

    <li class="list-group-item">
      <strong>Email:</strong>
      <%= identity_matching.email %>
    </li>

    <li class="list-group-item">
      <strong>Mobile:</strong>
      <%= identity_matching.mobile %>
    </li>

    <li class="list-group-item">
      <strong>Driver's License:</strong>
      <%= identity_matching.drivers_license %>
    </li>

    <li class="list-group-item">
      <strong>NIPI:</strong>
      <%= identity_matching.national_insurance_payor_identifier %>
    </li>

    <li class="list-group-item">
      <strong>Passport:</strong>
      <%= identity_matching.passport_number %>
    </li>

    <li class="list-group-item">
      <strong>State ID:</strong>
      <%= identity_matching.state_id_number %>
    </li>

    <li class="list-group-item">
      <strong>Level:</strong>
      <%= identity_matching.idi_level&.titleize %>
	  <span class="badge bg-success">Weight = <%= identity_matching.weight %></span>
    </li>
  </ul>

  <div class="card-body">
    <% if identity_matching.response_status %>
      <p>
        <strong>Response status:</strong>
        <%= identity_matching.response_status %>
      </p>
    <% else %>
      <p><strong>Not server response.</strong></p>
    <% end %>

	<%= yield %>
  </div>

</div>
