<div class="row mt-2 justify-content-between">
  <div class="col">
    <%= link_to "Edit and Re-Match", edit_identity_matching_path(@identity_matching) %> |
    <%= link_to "All Identity Matches", identity_matchings_path %>
  </div>
  <div class="col text-end">
    <%= link_to "Delete", "/identity_matchings/#{@identity_matching.id}", data: {turbo_method: :delete}, class: "btn btn-sm btn-dark d-inline" %>
  </div>
</div>

<hr />

<div class="row my-2 justify-content-center">
  <%= render @identity_matching do end %>
</div>

<h3>FHIR Request</h3>
<code class="fhir"><%= @identity_matching.request_json %></code>
<hr />

<h3>FHIR Response</h3>
<% if @identity_matching.response_json %>
  <code class="fhir"><%= @identity_matching.response_json %></code>
<% elsif @identity_matching.errors.any? %>
  <%= render "errors", identity_matching: @identity_matching %>
<% else %>
  <h6>No valid response obtained from server</h6>
<% end %>
