<h1 class="w-100 text-center">Identity Matching & UDAP Security RI Client</h1>

<p class="lead">This is a client reference implementation conforming to the <a href="http://build.fhir.org/ig/HL7/fhir-identity-matching-ig/index.html">Identity Matching IG</a> and <a href="http://build.fhir.org/ig/HL7/fhir-udap-security-ig/">UDAP Security IG</a> by the FHIR&reg; at Scale Taskforce (FAST).</p>

<p class="lead">Please enter a conforming server implementation to continue:</p>

<%= form_for :patient_server, url: "/patient_servers", id: "patient_server_form" do |f| %>
    <div class="row justify-content-center">
		<div class="col-md-8 mb-3">
			<%= f.text_field :base, placeholder: "Enter Base URL. Ex: http://myserver.com/fhir/", class: "form-control", size: 64, required: true %>
		</div>
	</div>
	<div class="row row-cols-md-auto g-3 justify-content-center">
		<div class="col-auto">
			<%= f.submit "Metadata", class: "btn btn-warning" %>
		</div>
		<div class="col-auto">
			<%= f.submit "Register (UDAP Dynamic Client Registration)", class: "btn btn-dark" %>
		</div>
		<div class="col-auto">
			<%= f.submit "Authenticate (UDAP Tiered OAuth2)", class: "btn btn-danger" %>
		</div>
		<div class="col-auto">
			<%= f.submit "Match Patient", class: "btn btn-primary" %>
		</div>
	</div>
<% end %>

<br />
<p class="">Bearer Token: <%= ENV.fetch('BEARER_TOKEN', 'No Token') %></p>

<hr />
<div class="row justify-content-center">
    <%= image_tag "fast_logo_2022_sm.png", class: "img-fluid", style: "max-width:500px;" %>
</div>
