<!DOCTYPE html>
<html>
  <head>
    <title>Identity Matching Client</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

	<script>
	</script>
  </head>

  <body>
	<div class="position-relative" style="z-index:1;">
	  <!-- flash notice message -->
	  <% if notice %>
		<div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
		  <strong>Notice:</strong> <%= notice %>
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	  <% end %>

	  <!-- flash alert message -->
	  <% if alert %>
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
		  <strong>Alert:</strong> <%= alert %>
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	  <% end %>
	</div>

    <main class="container-fluid">
      <%= yield %>
	</main>

    <footer class="container-fluid mt-3 text-center">
	  <hr />
	  &copy; MITRE 2022
    </footer>
  </body>
</html>
